* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#imageSave {
  position: absolute;
  width: 600px;
  height: 400px;
  padding: 20px;
  background: white;
  left: calc(50vw - 300px);
  top: calc(50vh - 300px);
  border-radius: 5px;
}

#imageSave > canvas {
  border-radius: 5px;
  width: 100% !important;
  height: 100% !important;
}

.roundButton {
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  color: black;
  text-align: center;
  font-size: 1.2em;
  /* font-weight: bold; */
  border: none;
  outline: none;
  background: #ffffff;
  box-shadow: 0 3px 5px #44444477;

  top: 20px;
}

.buttons {
  padding: 20px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.copied {
  transition-duration: 200ms;
  color: black;
  opacity: 0;
  display: inline;
  margin-left: 10px;
  user-select: none;
  pointer-events: none;
}

button > img {
  position: relative;
  width: 50%;
  top: 25%;
  left: 25%;
  display: block;
  /* opacity: 0.8; */
}

.randomizeButton > img {
  opacity: 1;
}

.gradientBackground {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#css {
  position: absolute;
  top: -100px;
}

.sliderBlock {
  width: 300px;
  padding: 0 10px;
  /* transition-duration: 300ms; */
}

.slidersBlockContainer {
  position: absolute;
  margin-bottom: 20px;
  display: flex;
  width: calc(100vw - 20px);
  bottom: 0;
  padding: 0 10px;

  justify-content: space-around;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

.colorSliderRow {
  display: flex;
}

.colorSlider {
  width: 90%;
  /* background: indigo; */
  /* height: 50px; */
}

.colorIcon {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100px;
  margin-left: 8px;
  margin-top: 18px;
  background: #000000;
}

.colorIcon-r {
  background: rgba(210, 50, 50);
}

.colorIcon-g {
  background: rgb(98, 219, 77);
}

.colorIcon-b {
  background: rgb(67, 67, 200);
}
